<div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-8">
          <div class="card" style="background-image: linear-gradient(to right top, #090708, #120b11, #170f18, #191320, #181728, #23283a, #2e3a4c, #3b4d5e, #61747f, #8c9ca3, #bbc6c8, #edf1f1);">
            <div class="card-header card-header-primary" style="background-image: linear-gradient(to right top, #090708, #120b11, #170f18, #191320, #181728, #23283a, #2e3a4c, #3b4d5e, #61747f, #8c9ca3, #bbc6c8, #edf1f1);">
              <h4 class="card-title" style="color: #edf1f1;" >Edit Profile</h4>
              <p class="card-category" style="color: #edf1f1">Complete your profile</p>
            </div>
            <div class="card-body">
              <form>
                  <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="bmd-label-floating" style="color: #edf1f1">User Name</label>
                          <input type="text" class="form-control" placeholder="Enter User Name">
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="bmd-label-floating" style="color: #edf1f1">Email-address</label>
                          <input type="text" class="form-control" placeholder="Enter Email">
                        </div>
                      </div>
                    </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="bmd-label-floating" style="color: #edf1f1">First Name</label>
                      <input type="text" class="form-control" placeholder="Enter First Name">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="bmd-label-floating" style="color: #edf1f1">Last Name</label>
                      <input type="text" class="form-control" placeholder="Enter Last Name">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="bmd-label-floating" style="color: #edf1f1">Phone Number</label>
                      <input type="text" class="form-control" placeholder="Enter Address">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group">
                      <label class="bmd-label-floating" style="color: #edf1f1">Course</label>
                      <input type="text" class="form-control" placeholder="Enter City">
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label class="bmd-label-floating"style="color: #edf1f1">Stream</label>
                      <input type="text" class="form-control" placeholder="Enter Country">
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label class="bmd-label-floating" style="color: #edf1f1">State</label>
                      <input type="text" class="form-control" placeholder="Enter State">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label style="color: #edf1f1" >Message</label>
                      <div class="form-group">
                        <!-- <label class="bmd-label-floating" style="color: #edf1f1"> Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo.</label> -->
                        <textarea class="form-control" rows="5" placeholder="Write Message"></textarea>
                      </div>
                    </div>
                  </div>
                </div>
                <button style="background-image: linear-gradient(to right top, #090708, #120b11, #170f18, #191320, #181728, #23283a, #2e3a4c, #3b4d5e, #61747f, #8c9ca3, #bbc6c8, #edf1f1); " type="submit" class="btn btn-primary pull-right">  Update Profile</button>
                <div class="clearfix"></div>
              </form>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card card-profile">
            <div class="card-avatar">
     
              <a href="#pablo">
                <img class="img" src="../../assets/image/user.png" height="150%" width="300px">
              </a>
           
            </div>
            <div class="card-body">
              <!-- <h6 class="card-category text-gray">CEO / Co-Founder</h6> -->
              <h4 class="card-title"><strong>Naveen</strong></h4>
              <p class="card-description">
                <!-- Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is... -->
              </p>
              <a href="#pablo" style="background-image: linear-gradient(to right top, #090708, #120b11, #170f18, #191320, #181728, #23283a, #2e3a4c, #3b4d5e, #61747f, #8c9ca3, #bbc6c8, #edf1f1); "class="btn btn-primary btn-round">Follow</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>    
 