label
{
    color:wheat;
}
.card-avatar {
    width: 200px;
    height: 200px;
  margin-left:30%;
 
 
}
.card-user .avatar {
    width: 12px;
    height: 12px;
}
.img {
    vertical-align: middle;
    border-style: none;
  border-radius: 60px;
  margin: -80px;
 
}
.profile{
margin-bottom: 60%
}
.card-profile {
    margin-top: 30px;
    text-align: center;
}
 
.card {
    position: relative;
    display: flex;
    flex-direction: column;
   
    margin-bottom: 30px;
    margin-top: 30px;
    border-radius: 6px;
   
}
.content{
    margin-top:5%
}
.card-header{
    color:white;
    background-color: blueviolet;
}
body {
    background-color: #eee;
}
.card-header{
    margin: -10px;
 
}
.container-fluid{
    background-color: #34495E
}
/* .content{

    background-color: #34495E

} */
/* .card-body{
    background-image: linear-gradient to right top, #090708, #120b11, #170f18, #191320, #181728, #23283a, #2e3a4c, #3b4d5e, #61747f, #8c9ca3, #bbc6c8, #edf1f1;
    
} */

/* .card-avatar{
    background-color: #34495E

}

.card-profile
{
    background-color: #34495E


} */